In [1]:
import pandas as pd
import numpy as np
import json 
from datetime import datetime

# df = pd.read_csv('../data/simulated/simulated_buses_multi.csv')

In [2]:
person_sim  = pd.read_csv('../data/simulated/person_1_with_bus.csv')
person_sim['first_timestamp'] = str(datetime(2025, 1, 12, 9, 0, 0))

person_sim

,timestamp,lat,lon,elapsed_seconds,manual_timediff,first_timestamp
0,2025-01-12 09:00:00,49.258092,-123.243537,0,0,2025-01-12 09:00:00
1,2025-01-12 09:00:01,49.258090,-123.243529,1,1,2025-01-12 09:00:00
2,2025-01-12 09:00:02,49.258087,-123.243522,2,2,2025-01-12 09:00:00
3,2025-01-12 09:00:03,49.258085,-123.243514,3,3,2025-01-12 09:00:00
4,2025-01-12 09:00:04,49.258082,-123.243507,4,4,2025-01-12 09:00:00
...,...,...,...,...,...,...
1402,2025-01-12 12:30:36.087063,49.262253,-123.003230,12636,12636,2025-01-12 09:00:00
1403,2025-01-12 12:32:17.502601,49.264432,-123.003150,12738,12737,2025-01-12 09:00:00
1404,2025-01-12 12:34:28.238443,49.264630,-123.006011,12868,12868,2025-01-12 09:00:00
1405,2025-01-12 12:36:22.384583,49.266157,-123.006010,12982,12982,2025-01-12 09:00:00
1406,2025-01-12 12:38:27.076204,49.266367,-123.003293,13107,13107,2025-01-12 09:00:00

In [3]:
json.dump(person_sim[['first_timestamp', 'timestamp', 'lat', 'lon']].to_dict(orient='records'), open('../data/simulated/person_1_with_bus_request.json', 'w'))